// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

/**
 * bs already
 */
 html {}
 *,
 *::before,
 *::after {}
 
 /**
  * Body Styles
  */
 body {
   color: $text-color;
   font-family: "Roboto", sans-serif;
   #site-wrapper {
     overflow: hidden;
   }
 }
 
 /**
  * Basic styles for sections
  */
 section,
 header#header.siteHeader,
 footer#footer.siteFooter {
   padding: var(--margin_padding_bottom) 0;
 }
 