/**
 * Basic typography style for copy text
 */

// Headings
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {}

h1, .h1 {}
h2, .h2 {}
h3, .h3 {}
h4, .h4 {}
h5, .h5 {}
h6, .h6 {}

// Paragraph
p {}

// Lists
ol, ul {
  li {}
}

ol {
  li {}
}
ul {
  li {}
}

// Links
 a {
  color: $brand-color;
  text-decoration: none;

  @include on-event {
    color: $text-color;
    text-decoration: underline;
  }
}